<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>第一组</string>
		<key>subTitleArr</key>
		<array>
			<string>第一个</string>
			<string>第二个</string>
			<string>第三个</string>
			<string>第四个</string>
			<string>第五个</string>
			<string>第六个</string>
			<string>第七个</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>第二组</string>
		<key>subTitleArr</key>
		<array>
			<string>第一个</string>
			<string>第二个</string>
			<string>第三个</string>
			<string>第四个</string>
			<string>第五个</string>
			<string>第六个</string>
			<string>第七个</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>第三组</string>
		<key>subTitleArr</key>
		<array>
			<string>第一个</string>
			<string>第二个</string>
			<string>第三个</string>
			<string>第四个</string>
			<string>第五个</string>
			<string>第六个</string>
			<string>第七个</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>第四组</string>
		<key>subTitleArr</key>
		<array>
			<string>第一个</string>
			<string>第二个</string>
			<string>第三个</string>
			<string>第四个</string>
			<string>第五个</string>
			<string>第六个</string>
			<string>第七个</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>第五组</string>
		<key>subTitleArr</key>
		<array>
			<string>第一个</string>
			<string>第二个</string>
			<string>第三个</string>
			<string>第四个</string>
			<string>第五个</string>
			<string>第六个</string>
			<string>第七个</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>第六组</string>
		<key>subTitleArr</key>
		<array>
			<string>第一个</string>
			<string>第二个</string>
			<string>第三个</string>
			<string>第四个</string>
			<string>第五个</string>
			<string>第六个</string>
			<string>第七个</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>第七组</string>
		<key>subTitleArr</key>
		<array>
			<string>第一个</string>
			<string>第二个</string>
			<string>第三个</string>
			<string>第四个</string>
			<string>第五个</string>
			<string>第六个</string>
			<string>第七个</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>第八组</string>
		<key>subTitleArr</key>
		<array>
			<string>第一个</string>
			<string>第二个</string>
			<string>第三个</string>
			<string>第四个</string>
			<string>第五个</string>
			<string>第六个</string>
			<string>第七个</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>第九组</string>
		<key>subTitleArr</key>
		<array>
			<string>第一个</string>
			<string>第二个</string>
			<string>第三个</string>
			<string>第四个</string>
			<string>第五个</string>
			<string>第六个</string>
			<string>第七个</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>第十组</string>
		<key>subTitleArr</key>
		<array>
			<string>第一个</string>
			<string>第二个</string>
			<string>第三个</string>
			<string>第四个</string>
			<string>第五个</string>
			<string>第六个</string>
			<string>第七个</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>第十一组</string>
		<key>subTitleArr</key>
		<array>
			<string>第一个</string>
			<string>第二个</string>
			<string>第三个</string>
			<string>第四个</string>
			<string>第五个</string>
			<string>第六个</string>
			<string>第七个</string>
		</array>
	</dict>
</array>
</plist>
